{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block header %} {% include 'inc/admin/header.html.twig' %} {% endblock %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                {{ message }}
            </div>
        {% endfor %}



        <div class="btn-finish">
        <button type="submit" class="btn btn-outline-danger" id="btn-finish">I'M FINISHED</button>
        </div>
        <table>
            <thead>
            <tr>
                <th>
                    <header>
                        <section class="header-image" style="background-image: url({{ asset('assets/img/happy.svg') }}"></section>
                        <h2 class="header-title">What went well?</h2>
                    </header>
                    <p>Things we are happy about.</p>
                </th>
                <th>
                    <header>
                        <section class="header-image" style="background-image: url({{ asset('assets/img/less.svg') }}"></section>
                        <h2 class="header-title">What went less well?</h2>
                    </header>
                    <p>Things we should improve.</p>
                </th>
                <th>
                    <header>
                        <section class="header-image" style="background-image: url({{ asset('assets/img/next.svg') }}"></section>
                        <h2 class="header-title">What do we want to try?</h2>
                    </header>
                    <p>Things we should do differently.</p>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="field-area">
                        <textarea class="field-input" data-topic-id="1"></textarea>
                    </div>
                </td>
                <td>
                    <div class="field-area">
                        <textarea class="field-input" data-topic-id="2"></textarea>
                    </div>
                </td>
                <td>
                    <div class="field-area">
                        <textarea class="field-input" data-topic-id="3"></textarea>
                    </div>
                </td>

            </tr>

            </thead>
            <tbody>
            <tr>
                <td class="ideas" data-topic-id="1">

                    {% for item in data %}
                        {% if item.commentType == 1 %}
                              {# {% for item in comments %}
                                {% if item.step == 1 %} #}
                            <div class="idea-content" data-comment="{{ item.id }}">
                                <section class="topic-idea"> {{ item.commentText }}  </section>
                                {% set likeVal = 0 %}
                                {% for comment in item.getCommentLikes() %}
                                    {% set likeVal = loop.index %}
                                {% endfor %}
                                <button class="idea-action-btn {{ likeVal > 0 ? 'show' : '' }}">
                                    <span id="icon"><i class="far fa-thumbs-up"></i></span>
                                    <span id="count">{{ likeVal }}</span>
                                </button>

                            </div>
                                {# {% endif %}
                            {% endfor %}#}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="ideas" data-topic-id="2">
                    {% for item in data %}
                        {% if item.commentType == 2 %}
                            {# {% for item in comments %}
                                {% if item.step == 1 %} #}
                        <div class="idea-content" data-comment="{{ item.id }}">
                            <section class="topic-idea"> {{ item.commentText }}  </section>
                            {% set likeVal = 0 %}
                            {% for comment in item.getCommentLikes() %}
                                {% set likeVal = loop.index %}
                            {% endfor %}
                            <button class="idea-action-btn {{ likeVal > 0 ? 'show' : '' }}">
                                <span id="icon"><i class="far fa-thumbs-up"></i></span>
                                <span id="count">{{ likeVal }}</span>
                            </button>
                        </div>
                        {# {% endif %}
                            {% endfor %}#}
                        {% endif %}
                    {% endfor %}
                </td>
                <td class="ideas" data-topic-id="3">
                    {% for item in data %}
                        {% if item.commentType == 3 %}
                            {# {% for item in comments %}
                                {% if item.step == 1 %} #}
                            <div class="idea-content" data-comment="{{ item.id }}">
                                <section class="topic-idea"> {{ item.commentText }} </section>
                                {% set likeVal = 0 %}
                                {% for comment in item.getCommentLikes() %}
                                    {% set likeVal = loop.index %}
                                {% endfor %}
                                <button class="idea-action-btn {{ likeVal > 0 ? 'show' : '' }}">
                                    <span id="icon"><i class="far fa-thumbs-up"></i></span>
                                    <span id="count">{{ likeVal }}</span>
                                </button>
                            </div>
                            {# {% endif %}
                            {% endfor %}#}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>

    </div>



{% endblock %}



