{% extends 'base.html.twig' %}

{% block title %}Create Your Organization{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-light col-md-10 mx-auto navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('assets/img/TeamRetro.png') }}" alt="" width="200">
            </a>

            <p class="text-uppercase font-weight-bold"  style="font-size:50px" >Login  page</p>

        </nav>
    </header>
{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div class="container">
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            </div>
        {% endif %}
        <div class="container">
            <label class="col-form-label col-sm-2 required" for="inputEmail">Email</label>
            <div class="col-sm-10">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus />
            </div>
            <label class="col-form-label col-sm-2 required" for="inputPassword">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="col-sm-12 mt-5">
                <button class="btn btn-primary" type="submit">
                    Login
                </button>
            </div>
        </div>
    </form>

{% endblock %}
